/*
{
{}
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

  /* /* *{
    border: 1px black solid;
  /* } */ 
ul {
    list-style-type: none;
    display: flex;
  }
  li {
    margin-right: 20px;
      
  }

  header {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        
 }
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
 
.dashboard {
    width: 15%;
    display: flex;
    align-items: flex-start;

}

.dance-floor {
    width: 70%;
}

.image-container{
    background-image: url("../images/landing.jpg");
    background-size: cover;
  }
  
  .image-text{
    color: white;
    padding: 250px;
    text-align: center;
    border: 10px;
        width: 70%;
  }

   
    .other {
        text-align: center !important ;
        font-size: large !important;
        font-weight: bold;
       
    }


.info h2{
    color: #1DB954; 
}


hr {
    background-color: #1DB954;
    width: 300px;
    height:5px

}

.icons {
    display: flex;
}
 .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }

 .info img{
    width: 15%;
 }

 .info2{
    display: flex;
    flex-direction: column;
    justify-content: start !important;

 }

 .third-part {
    background-color: #1DB954; /* Set the background color of the section */
    height:80vh; 
    display: flex;
    gap:10%;
    justify-content: center; 
    align-items: center;
    color: white;
    padding: 6%;
}
.image-container2 {
    /* background-image: url("../images"); */
    width:50px;
    height:50px;
    display: flex;
    flex-direction:row;
    justify-content: flex-end; 
    align-items: flex-start;
}

.image-container2 > img {
width: 15vw
}

.kanye {
    height: 50%;
    margin-right: 5%;
}

.last-hr {
    background-color: white;
    height: 1px;
    width: auto;
}

.yeezy {
 font-size: xx-large;
 width: fit-content;
}
/* .kanye{
    margin-left:auto;
    width: 15vw;
    
    

} */
    
